.form-section {
  margin-bottom: 24px; /* Espaçamento entre seções */
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
}

.form-section h2 {
  margin-bottom: 16px;
  font-weight: bold;
}

.form-section input,
.form-section select,
.form-section button {
  margin-bottom: 12px;
  width: 100%;
}

.table-section {
  margin-top: 32px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 24px;
  background-color: #fffff8;
  border-radius: 12px;
}

/* Botões vermelhos */
.button-red {
  background-color: #cc0b10 !important; /* Vermelho */
  border: 2px solid #a30a0e !important; /* Borda escura */
  color: white !important;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.button-red:hover {
  background-color: #a30a0e !important; /* Tom mais escuro ao passar o mouse */
}
/* Espaçamento entre o select e o botão */
.select-category {
  margin-bottom: 16px; /* Ajuste conforme necessário */
}

/* Espaçamento entre barras */
.container-buttons {
  background-color: #cc0b10;
  padding: 40px 20px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}