/* Container geral */
.container-step1-avalie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: #fffef5; /* tom de fundo claro */
}

/* Logo centralizado */
.container-img-avalie img {
    width: 160px;
    margin-bottom: 16px;
}

/* Formulário */
.form-avalie {
    width: 100%;
    max-width: 800px; /* Aumentamos o máximo para telas maiores */
    min-width: 300px;
    margin: 0 auto;
    padding: 0 32px; /* Aumentamos o padding lateral */
    box-sizing: border-box;
}

.form-item-error {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  

/* Labels */
.form-avalie .ant-form-item-label > label {
    display: none; /* ocultando o label padrão do AntD */
}

/* Inputs */
.form-avalie .ant-input {
    background-color: #f5f5f5;
    border: 2px solid #f9cb09;
    border-radius: 12px;
    padding: 12px 14px;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border 0.3s;
    max-width: 600px; /* Limita a largura do input em telas grandes */
    width: 100%;
    display: block;
    margin: auto;
}

.form-avalie .ant-input:focus {
    border-color: #e30613;
    box-shadow: 0 0 5px rgba(227, 6, 19, 0.2);
}

 .form-avalie .ant-select-selector {
    background-color: #f5f5f5 !important; /* garante o fundo cinza */
    border: 2px solid #f9cb09 !important; /* garante a borda amarela */
    border-radius: 12px;
    padding: 12px 14px;
    height: 52px !important; /* garante a altura como o input */
    display: flex;
    align-items: center;
    font-size: 17px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;   
    margin: auto;
} 

/* Remove a seta do Select */
.form-avalie .ant-select-arrow {
    display: none;
  }   

/* Ícones do lado esquerdo dos inputs */
.form-avalie .ant-form-item {
    position: relative;
    margin-bottom: 20px;
}

.form-avalie .ant-form-item::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Ajuste de padding para entrada com ícone */
.form-avalie .ant-input {
    font-size: 1rem;
}

/* Botão */
.btn-submit {
    background-color: #f9cb09;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    width: 100%;
    max-width: 360px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    background-color: #e30613;
}

/* Ajustes Responsivos */
@media (max-width: 480px) {
    .form-avalie .ant-input {
        font-size: 14px;
        padding: 8px 10px;
    }
}

@media (min-width: 1024px) {
    .form-avalie {
        max-width: 800px;
        padding: 0 32px;
    }

    .form-avalie .ant-input {
        font-size: 18px;
        padding: 12px 14px;
        max-width: 600px;
    }
}
