.container-step1-avalie{
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 100vh;
}
.container-img-avalie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container-img-avalie img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
}

.steps-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}